@model employeeManagement_EF.Models.EF.EmployeeDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDesigantion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDesigantion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIsPermenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIsPermenant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptNavigation.DNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
